* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
    background-color: #222;
}

.main-container{
	margin: 0 auto;
	text-align: center;
}

.main-container #profile-title{
	margin-top: 20px;
	margin-bottom: 50px;
	color: #ddd;
}

.example-2 .btn-tertiary{
	color: #ddd;
	padding:0;
	line-height:40px;
	width:300px;margin:auto;
	display:block;
	border:1px solid yellowgreen;
	cursor: pointer;
}

.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{
	color:#fff;
	border-color: rgba(154, 205, 50, .8);
}

.example-2 .input-file {
	opacity:0;
	overflow:hidden;
	position:absolute;
	z-index:-1;
}

#output{
	max-width: 200px;
	max-height: 200px;
}

#form {
	width: 100%;
	max-width: 1080px;
	height: 100%px;
	color: #ddd;
	margin: 10px auto;
	text-align: center;
	background-color: #222;
}

#form div{
	display: inline-block;
	width: 32%;
	height: 100%;
}

#form div h2 {
	margin: 10px 0;
	color: #ddd;
}

#form  div p {
	margin-bottom: 10px;
	color: #ddd;
}

#form div input {
	margin-bottom: 10px;
	padding-left: 5px;
	width: 180px;
	height: 20px;
	background-color: #222;
	color: #ddd;
	border: 1px solid yellowgreen;
	line-height: 20px;
}

form input:focus{
	outline: none;
}

#form .button-submit {
	display: block;
	margin: 50px auto 20px auto;
	width: 100px;
	height: 25px;
	background-color: #222;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	color: #ddd;
	border: 1px solid yellowgreen;
}

#form .button-submit:hover, #download-button:hover, .print:hover {
	color: #fff;
	background-color: rgba(154, 205, 50, .5);
}

.profile {
	width: 100%;
	max-width: 1080px;
	margin: 10px auto;
	display: none;
}

.profile div {
	display: inline-block;
	color: #ddd;
}

.profile #description {
	float: left;
	text-align: left;
	width: 50%;
}

.profile #description p {
	margin: 10px 0 10px 100px;
	font-size: 16px;
}

.profile #info {
	text-align: right;
	width: 50%;
}

.profile #info p {
	margin: 10px 100px 10px 0;
	font-size: 16px;;
}

#download-button, .print{
    cursor: pointer;
    margin: 50px;
    display: inline-block;
	margin: 50px;
	width: 100px;
	height: 25px;
	background-color: #222;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	color: #ddd;
	border: 1px solid yellowgreen;
    text-decoration: none;
}

.buttons-container{
    display: none;
}

@media print {
    body {
        background-color: white;
        color: black;
    }
    
    .print, #download-button{
    display: none;
}
    
    .profile #description p{
        margin-left: 20px;
    }
    
    .profile #info p{
        margin-right: 20px;
    }
}